---
layout: default
---

<div class="container">
  <!-- begin author -->
  <section class="author" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="600">
    <div class="author__inner">
  <img src="{{site.url}}{{site.author.image}}" alt="{{site.author.name}}" class="author__img">
      <h1 class="author__job">{{ site.author.job }}</h1>
      <p class="author__bio">{{ site.author.bio }}</p>
      <div class="author__more">
        <a href="mailto:{{site.author.email}}?subject=Hello%20%F0%9F%91%8B" class="say-hello">Say hello</a>
        <a href="https://www.linkedin.com/in/andrea-saffirio-19928212b/" class="know-more">LinkedIn</a>
      </div>
    </div>
  </section>
  <!-- end author -->
</div>

<div class="container" style="text-align:center;">
  {% if site.posts.size > 0 %}
    {% for post in site.posts %}
    <div class="article" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="1000">
      {% if post.image %}
      <div class="article__image-box">
        <a href="{{post.url | prepend: site.baseurl}}" class="article__image" style="background-image: url({{site.baseurl}}{{post.image}})"></a>
      </div>
      {% endif %}
      <div class="article__content">
        <h2 class="article__title">
          <a href="{{ post.url | prepend: site.baseurl }}"><home-title-font>{{post.title}}</home-title-font></a>
        </h2>
      </div>
    </div>
    {% endfor %}
  {% endif %}
</div>
