<p>
  Versatile Game Designer with skills ranging from programming in Unity and Unreal Blueprints to Art production for previsualization. My studies in Game Design and Production
  Management provided me with Game Design, UX design and Level Design technical knowledge along with organisational skills, professional workflows and a teamworking mindset.
</p>
<!--
<div class="collapse d-lg-block" id="long-about">
  <p>
    My studies gave me the technical foundation of game development. In middle
    school I have learned 3D modelling and C# programming. During high
    school, I learned physics, maths, computer technology and attended a drawing
    course. At the Abertay University, I was provided with principles of Game Design,
    teamworking skills and workflow methodologies. As my academic path ended, I started working in Turin as a Game Designer.
  </p>
  <p>
    I have worked on several academic projects, game jams and few external experiences,
    experiencing a wide range of game genres and consoles. I was part of teams made of people with different backgrounds,
    eventually covering roles such as artist, programmer and tester but always contributing with Design knowledge,
    prototyping skills, previsualisation techiques and unbounded passion.
  </p>
</div>-->
