<p>
  I have always been fascinated by videogames and how they convey unique
  experiences. Therefore, I decided to make a career out of what have always
  been just a hobby.
</p>
<div class="collapse d-lg-block" id="long-about">
  <p>
    My studies gave me the technical foundation of game development. In middle
    school I learned 3D modelling and C# programming. During high
    school, I studied physics, maths, computer technology and drawing.
    At the Abertay University, I was provided with principles of Game Design,
    teamworking skills and workflow methodologies. Currently, I am working in Turin as a Game Designer.
  </p>
  <p>
    I have worked on several academic projects, game jams and few external experiences,
    experiencing a wide range of game genres and consoles. I was part of teams made of people with different backgrounds,
    eventually covering roles such as artist, programmer and tester but always contributing with Design knowledge,
    prototyping skills, previsualisation techiques and unbounded passion.
  </p>
</div>
