  <figure class="effect-lily rounded">
    {% if post.preview-image %}
    <img src="{{ post.preview-image }}" alt="{{ post.title }}"/>
    {% else %}
    <img src="{{ post.image }}" alt="{{ post.title }}" />
    {% endif %}
    <figcaption>
      <div>
        <h2>
          {% if post.preview-title %}
          {{ post.preview-title }}
          {% else %}
          {{ post.title }}
          {% endif %}
        </h2>
        <p>
          {% if post.preview-description %}
              {{ post.preview-description }}
          {% else %}
              {{ post.description }}
          {% endif %}
        </p>
      </div>
      <a href="{{ post.url }}">View more</a>
    </figcaption>
  </figure>
