<!-- Gallery.Item -->
<div class="carousel-item" data-id="{{ include.post-id }}" style="background-image: url({{ post.image }})">

    <!-- Gallery.Item.Caption -->
    <div class="carousel-caption">
        
        <!-- Gallery.Item.Caption.Title -->
        <h1 class="text-monospace text-right">
            {% if post.preview-title %}
                {{ post.preview-title }}
            {% else %}
                {{ post.title }}
            {% endif %}
        </h1>
        <!-- -->

        <!-- Gallery.Item.Caption.Description -->
        <p class="lead text-right">
            {% if post.preview-post %}
                {{ post.preview-post }}
            {% else %}
                {{ post.excerpt | strip_html | truncatewords:30 }}
            {% endif %}
        </p>
        <!-- -->

        <!-- Gallery.Item.Caption.Link -->
        <p class="text-center">
            <a class="text-white scroll-trigger" href="#section-description" style="text-transform: underline;">
                Read More
                <i class="fa fa-bookmark-o"></i>
            </a>
        </p>
        <!-- -->

    </div>
    <!-- -->

</div>
<!---->
