<!-- CAROUSEL-->
<div id="{{ include.name }}" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for picture in include.data %} {% if forloop.first == true %}
    <li data-target="#{{ include.name }}" data-slide-to="0" class="active"></li>
    {% else %}
    <li
      data-target="#{{ include.name }}"
      data-slide-to="{{ forloop.index0 }}"
    ></li>
    {% endif %} {% endfor %}
  </ol>
  <div class="carousel-inner" role="listbox">
    {% for picture in include.data %} {% if forloop.first == true %}
    <div class="carousel-item active">
      {% if picture.video %}
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="{{picture.video}}"
          allowfullscreen
        ></iframe>
      </div>
      {% else %} {% if picture.title %}
      <img
        class="img-fluid"
        src="{{ picture.image }}"
        alt="{{ picture.title }}"
      />
      {% else %}
      <img class="img-fluid" src="{{ picture.image }}" />
      {% endif %} {% endif %} {% if picture.caption %}
      <div class="carousel-caption">
        {{ picture.caption }}
      </div>
      {% endif %}
    </div>
    {% else %}
    <div class="carousel-item">
      {% if picture.video %}
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="{{picture.video}}"
          allowfullscreen
        ></iframe>
      </div>
      {% else %} {% if picture.title %}
      <img
        class="img-fluid"
        src="{{ picture.image }}"
        alt="{{ picture.title }}"
      />
      {% else %}
      <img class="img-fluid" src="{{ picture.image }}" />
      {% endif %} {% endif %}{% if picture.caption %}
      <div class="carousel-caption">
        {{ picture.caption }}
      </div>
      {% endif %}
    </div>
    {% endif %} {% endfor %}
  </div>

  <a
    class="carousel-control-prev"
    href="#{{include.name}}"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#{{include.name}}"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- <div
    id="carousel-gallery-preview"
    class="carousel slide d-flex justify-content-around align-items-center"
    data-ride="carousel"
    data-interval="false"
  >
    <a
      class="carousel-control-prev align-self-stretch"
      href="#carousel-gallery-preview"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <div class="carousel-inner">
      {% for element in page.gallery %} {% assign index = forloop.index | minus:
      1 %} {%if index == 0 %}
      <div class="carousel-item active" style="height: 50vh;">
        {%else%}

        <div class="carousel-item" style="height: 50vh;">
          {%endif%} {% if element.image %}
          <div
            class="carousel-element-image"
            style="height:100%; width:auto; background-image: url(../{{element.image}}); background-repeat: no-repeat"
          ></div>
          {% else%}
          <div
            class="carousel-element-video embed-responsive embed-responsive-16by9"
            style="
              height: 100%;
              width: auto;
              background-position: center;
              background-size: contain;
            "
          >
            <iframe
              class="embed-responsive-item"
              src="{{ element.video }}"
              allowfullscreen
            ></iframe>
          </div>
          {%endif%}
        </div>
        {% endfor %}
      </div>
      <a
        class="carousel-control-next align-self-stretch"
        href="#carousel-gallery-preview"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
-->
