<!-- BUTTONS -->
<div class="row justify-content-center post-buttons">
  <div class="text-center">
    {%if page.trailer != null %}
    <a
      class="btn btn-outline-secondary text-wrap post-buttons__button"
      href="{{ page.trailer }}"
      role="button"
      ><i class="fas fa-video"></i> Trailer
    </a>
    {% endif %} {%if page.gameplay != null %}
    <a
      class="btn btn-outline-secondary text-wrap post-buttons__button"
      href="{{ page.gameplay }}"
      role="button"
    >
      <i class="fas fa-gamepad"></i> Gameplay trailer
    </a>
    {% endif %} {%if page.download != null %}
    <a
      class="btn btn-outline-secondary text-wrap post-buttons__button"
      href="{{ page.download }}"
      role="button"
    >
      <i class="fas fa-arrow-down"></i> Download prototype
    </a>
    {% endif %} {%if page.gdd != null %}
    <a
      class="btn btn-outline-secondary text-wrap post-buttons__button"
      href="{{ page.gdd }}"
      role="button"
    >
      <i class="fas fa-file-alt"></i> Documentation
    </a>
    {% endif %}
  </div>
</div>
<!-- END BUTTONS -->
