@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,600");
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

// Define defaults for each variable.

$base-font-family: "PT Sans", sans-serif !default;
$base-header-font-family: "Karla", sans-serif !default;
$base-header-font-weight: 400;
$base-font-size: 18px !default;
$base-font-size-percentage: 112.5%; /* 18px */
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.65 !default;

$spacing-unit: 30px !default;

$text-color: #505050 !default;
$header-text-color: #333 !default;
$subtitle-text-color: rgb(65, 131, 236) !default;
$post-subtitle-text-color: #aaa !default;
$background-color: #fdfdfd !default;
$alt-ackground-color: #f8f8f8 !default;
$brand-color: #2a7ae2 !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 800px !default;

$on-palm: 300px !default;
$on-landscape: 768px !default;
$on-laptop: 992px !default;
$on-xl-laptop: 1200px !default;

// Import partials.
@import "minima/base", "minima/syntax-highlighting", "minima/lilyeffect";
