body,
html {
	font-size: 18px!important;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	height: 100%
}

h1,
h2,
h3,
h4 {
	font-family: 'Karla', sans-serif;
	font-weight: 400
}

h1 {
	font-size: 2em
}

h2 {
	font-size: 1.8em;
	color: #000 !important;
}

h3 {
	font-size: 1.6em
}

h4 {
	font-size: 1.3em
}

h5 {
	font-family: 'Karla', sans-serif;
	font-size: 1em;

}

h6 {
	font-family: 'Karla', sans-serif;
	font-size: .8em;
	color: #bbb !important;
	margin-bottom: 2rem;
	margin-top: 1rem;
}

.display-1 {
	font-family: 'Karla', sans-serif;
	font-size: 3.906em
}

ul, ol
{
	text-align: justify
}
.display-2 {
	font-family: 'Karla', sans-serif;
	font-size: 3.125em
}

.display-3 {
	font-family: 'Karla', sans-serif;
	font-size: 2.5em
}

.display-4 {
	font-family: 'Karla', sans-serif;
	font-size: 2em
}

@media (min-width:48em) {
	p {
		font-size: 20px!important
	}
	h1 {
		font-size: 1.952em
	}
	h2 {
		font-size: 1.563em
	}
	h3 {
		font-size: 1.25em
	}
	h4 {
		font-size: 1em
	}
	.display-1 {
		font-size: 6em
	}
	.display-2 {
		font-size: 5.5em
	}
	.display-3 {
		font-size: 4.5em
	}
	.display-4 {
		font-size: 3.5em
	}
}

@media (min-width:62em) {
	body,
	html {
		font-size: 18px!important
	}
}

@media (min-width:75em) {
	body,
	html {
		font-size: 20px!important
	}
}

body {
	overflow-x: hidden
}
h1,
h2 {
	margin-bottom: 1rem
}

h3 {
	margin-bottom: 10px
}

h4 {
	margin-bottom: 5px
}

p {
    line-height: 1.5em;
}

#article-post p
{
	margin: 0;
	margin-bottom: 1rem;
}
#article-post
{
	font-size: 1rem;
}

.about-me-links a
{
	color: #888;
}

.about-me-links a:hover
{
	color: #555;
}
#carousel-gallery-preview .carousel-element-image
{
	background-position: center;
	background-size: contain;
}

#carousel-gallery-preview
{
	min-width: 100%;
}

@media (min-width: 768px) {
    #carousel-gallery-preview
	{
		min-width: 70%;
	}
}

@media (min-width: 1920px) {
    #carousel-gallery-preview
	{
		min-width: 90%;
	}
}

.card
{
	border: none;
	overflow: hidden;
}

.card-columns
{
	column-count: 1;
}

.about-me, .about-me-links
{
	font-size: .75rem !important;
	color: #aaa;
}
@media (min-width: 768px) {
    #sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}
@media (min-width: 768px)
{
	.card-columns
	{
		column-count: 2;
	}
}


.article-close-link
{
	font-size: .8rem;
	color: #aaa;
	font-weight: 300;
}
.article-close-link:hover
{
	color: #999;
	text-decoration-color: #999;

}
.card-title
{
	font-weight: 600;
	border-bottom: 0;
}

.card-img-overlay
{
	background-color: rgba(0, 0, 0, .5);
	border-radius: 5px;
	color: #fff !important;
	text-align: center;
	transition:color .2s ease-out;
}

.lol{
	transition:color .2s ease-out;
}

.lol:hover{
	background-color: red;
}

.card-img-overlay h5
{
	margin: 0 auto;
	padding: 0 auto;
}
.card-img-overlay a
{
	/*padding: 15px 25px !important;*/
	color: #fff;
	/*border: 2px solid #fff;*/
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
}
/* .left-right-arrows {

	color: #ccc;
	padding-top: 12rem;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 2rem !important;
}

.left-right-arrows:hover {

 color: #bbb !important;
}

.right-carousel-control {
	text-decoration: none;
	top:50%;
  background-color:ccc !important;
}

.carousel-indicators {
  bottom: -2.25rem;
}

.carousel-indicators li {
  border-color:#ccc;
  background-color:#ccc;
}*/

.carousel-control-prev, .carousel-control-next {
	position: inherit;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
	filter: grayscale(100%) brightness(67%);
-webkit-filter: grayscale(100%) brightness(67%);
-moz-filter: grayscale(100%) brightness(67%);
}

.carousel-inner {
   margin-bottom: 2rem;
	 margin-top: 2rem;
}

.lul{
	font-size: 0.7rem !important;
	color: #aaa;
}

@media (min-width: 768px) {
	footer
	{

		left: 0;
		bottom: 0;
		width: 100%;
	}
}

@media (min-width: 992px) {
	.col-lg-6 {
	max-width: 45% !important;
	}
}
/*---------------*/
/***** CARD EFFECT *****/
/*---------------*/

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;

	margin: 0 0 0.1rem !important;

	width: 100%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff !important;
	text-transform: uppercase;
	font-size: 1.25em !important;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300 !important;
	color: white !important;
	font-size: 0.8em !important;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 39.5% !important;
	font-family: "Roboto";
}

/* Individual effects */

/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-lily img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 2vh;
	left: 0;
	padding: .8em;
	/*padding: 2em;*/
	width: 100%;
	height: 50%;
}


@media (min-width: 768px) {
    figure.effect-lily figcaption > div {

		padding: 1.5em;

	}

}

@media (min-width: 1200px) {
	figure.effect-lily figcaption > div {

		padding: 2em;

	}

}



figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	opacity: 0;
}

figure.effect-lily p {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img{
	opacity: 1;
	filter: brightness(30%);
}
figure.effect-lily:hover p {
	opacity: 1;
}

figure.effect-lily:hover h2 {
	opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}
