<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-xl-4">
          {%- include header.html -%}
        </div>

        <div id="main-content" class="{% if layout.useAltBackground == true %} alt-background {%endif%} col-lg-7 col-xl-8 offset-lg-5 offset-xl-4">
          <main class="page-content" aria-label="Content">
              {{ content }}
          </main>
        </div>

        <div class="col-12 d-lg-none">
          {%- include footer.html -%}
        </div>
      </div>
    </div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/assets/js/script.js" ></script>
  
</body>

</html>
