---
layout: default
---

<div>
  {%- if site.useHeadlineInHomepage == true -%}
  <h4 class="decoration-line">My Works</h4>
  {%- endif -%}

  <div class="row grid" id="projects">
    <div class="card-columns">
      {% for post in site.posts %} {% assign index = forloop.index | minus: 1 %}
      {%- include card-item.html post-id=index -%} {% endfor %} {% include
      custom-card-item.html image="/assets/images/JamCover.jpg" title="Jams"
      description="A small collections of games I contributed to"
      url="https://cyberpan.itch.io/" open_new_tab="true" %}
    </div>
  </div>
</div>
