---
layout: default
---

<div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
    <!-- Header-->
    {% include header.html %}

    <!-- Cover Main Content -->
    <main class="px-3 mb-auto ">
        <div class="row align-items-start">
            <!-- Foto - nascosta su mobile, piccola e quadrata su mobile -->
            <div class="col-md-5 text-center">
              <img src="{{ site.baseurl }}{{page.image}}" alt="{{page.title}}"
                    class="img-fluid rounded d-none d-md-block">
                {% if page.image-mobile %}
                <img src="{{ site.baseurl }}{{page.image-mobile}}" alt="{{page.title}}"
                    class="profile-img-mobile rounded-circle d-md-none mb-3">
                {% endif %}
            </div>

            <!-- Contenuto testo -->
            <div class="col-md-6 text-md-start">
                <h1>{{page.title}}</h1>
                {{ content | markdownify }}
            </div>
        </div>
    </main>
</div>